body {
    background-color: lightpink;
    overflow: hidden;
    margin: 0;
}

.game-container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

.board {
    display: flex;
    box-shadow: 4px 4px lightgray;
}

.slot {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.hole {
    height: 80px;
    width: 80px;
    border: 40px solid lightyellow;
    transform: translate(-30px, -30px);
    border-radius: 50%;
}

.player-1 {
    background-color: salmon;
}

.player-2 {
    background-color: midnightblue;
}

header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: wheat;
    margin-top: 10px;
}

.player-administration {
    position: absolute;
    left: 5%;
    top: 10%;
}

textarea {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.redplayer {
    background-color: salmon;
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.blueplayer {
    background-color: midnightblue;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-top: 10px;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: underline;
}

.resetButton {
    position: absolute;
    right: 10%;
    top: 10%;
    border: 1px solid rgb(136, 133, 133);
    box-shadow: 2px 2px darkgray;
}

.resetButton :hover {
    background: #aaa6a6;
}

/*---------------------- POPUP MODULE ----------------------- */

.background {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 2s;
}

.modal {
    background-color: white;
    position: absolute;
    max-width: 600px;
    max-height: 300px;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.modal button {
    margin: 3%;
    right: 0%;
    top: 0%;
    position: absolute;
}

.modal button :hover {
    background: #aaa6a6;
}

.popupInfo {
    padding: 5% 10%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
    animation: pulse 2s infinite;
}

.background.on {
    visibility: visible;
}

/* @keyframes bounce {
    0% {
        transform: translate(2px, 1px);
    }
    50% {
        transform: translateY(-1px, 2px);
    }
    100% {
        transform: translate(1px, -2px);
    }
} */

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}
