body {
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box; /* dimensions: border & padding are included in those dimensions. */
}

.sky {
    background-color: lightblue;
    height: 600px;
    position: relative;
}

.ground {
    background-color: lightgray;
    height: 200px;
    position: relative;
}

#stickfigure {
    position: absolute;
    bottom: 550px;
    left: 30%;
    margin: 0;
}

#head {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#body {
    border: 3px solid black;
    height: 200px;
    width: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

.arm {
    border: 3px solid black;
    height: 150px;
    width: 1px;
    position: absolute;
    left: 50%;
    transform-origin: bottom;
}

.arm.left {
    transform: translateX(-50%) rotate(220deg);
}

.arm.right {
    transform: translateX(-50%) rotate(60deg);
    animation: liftarm 2s infinite;
}

.leg {
    border: 3px solid black;
    height: 200px;
    width: 1px;
    position: absolute;
    left: 50%;
    transform-origin: top;
    top: 300px;
}

.leg.left {
    transform: translateX(-50%) rotate(-30deg);
}

.leg.right {
    transform: translateX(-50%) rotate(30deg);
}

.ball {
    border: 2px solid black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: orange;
    position: relative;
    left: 38%;
    animation: bounce 2s infinite;
    margin: 0;
}

#goal {
    position: absolute;
    bottom: 600px;
    right: 20%;
}

#steg {
    border: 5px solid black;
    height: 550px;
    position: absolute;
    right: 30%;
}

#korb {
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    width: 150px;
    height: 30px;
}

#sun {
    border: 2px solid yellow;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    left: 10%;
    top: 5%;
    position: relative;
    background-color: yellow;
    animation: pulse 2s infinite;
}

.cloud {
    height: 60px;
    width: 180px;
    background: white;
    border-radius: 40px;
    border: 5px solid white;
    position: relative;
    top: 0%;
    left: 60%;
    animation: movecloud 30s infinite;
}

.bowbig {
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.bowsmall {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: 50%;
    left: 30%;
}

@keyframes liftarm {
    0% {
        transform: translateX(-50%) rotate(60deg);
    }
    50% {
        transform: translateX(-50%) rotate(100deg);
    }
    100% {
        transform: translateX(-50%) rotate(60deg);
    }
}

@keyframes bounce {
    0% {
        top: 0%;
        transform: translateY(-600px);
    }
    50% {
        height: 60px;
        width: 90px;
        transform: translateY(-200px);
    }
    100% {
        top: 0%;
        transform: translateY(-600px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes movecloud {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
