/* SANITY CHECK */

* {
    box-sizing: border-box; /* width & height include any paddings & borders */
}

body {
    background-color: linen;
    margin: 0; /* outer-spacing */
    height: 3000px;
}

.outer {
    border: 10px red solid;
    width: 150px;
    height: 150px;
    position: fixed;
    right: 100px;
    bottom: 0;
    z-index: 1;
}

.logo,
.menu {
    width: 50px;
    height: 50px;
    /* margin: 10px; */
}

.header {
    background-color: white;
    padding: 10px;
    /*overflow: hidden;*/

    position: relative;
}

/* div containers are block-level elements (display: block) by default,
so they don't like to share space.
They can have explicit dimensions
*/
.logo {
    background-color: darkred;
    /*float: left;*/
}

.menu {
    background-color: slategray;
    /*float: right;*/

    position: absolute;
    right: 10px;
    top: 10px;
}

.container {
    width: 600px;
    height: 600px;
    position: relative;

    border: 2px khaki solid;
}

h2 {
    position: absolute;
    margin: 0;
}

h2:nth-child(2) {
    right: 0;
}

h2:nth-child(3) {
    right: 0;
    bottom: 0;
}

h2:nth-child(4) {
    bottom: 0;
}

/* anchors are inline-level elements (display: inline) by default,
so they like to share space.
They can't have explicit dimensions (ignore width, height).
*/
a {
    display: block; /* you can change the default display * /
}