body {
    background-color: lightpink;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.board {
    display: flex;
    box-shadow: 4px 4px lightgray;
}

.slot {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.hole {
    height: 80px;
    width: 80px;
    border: 40px solid lightyellow;
    transform: translate(-30px, -30px);
    border-radius: 50%;
}

.player-1 {
    background-color: salmon;
}

.player-2 {
    background-color: midnightblue;
}

header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: wheat;
}

textarea {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea.red {
    background-color: salmon;
    color: white;
}

textarea.blue {
    background-color: midnightblue;
    color: white;
}
p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
