body {
    background-color: lightyellow;
}

* {
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 35vh;
    grid-gap: 10px;
}

.container {
    display: grid;
}

/* --- 1. Element---*/
.gray {
    background-color: gray;
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.orange {
    background-color: orange;
    grid-row-start: 1;
    grid-column-start: 2;
}

/* --- 2. Element---*/
.black {
    background-color: black;
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.yellow {
    background-color: yellow;
    grid-row-start: -2;
    grid-column-start: -2;
}

/* --- 3. Element---*/
.blue {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 3;
}

.green {
    background-color: green;
    grid-row-start: -2;
}

/* --- 4. Element---*/
.purple {
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 4;
}

.pink {
    background-color: pink;
}
