* {
    box-sizing: border-box;
}

body {
    margin: 0;

    height: 3000px;
}

.header {
    position: relative;
    background-color: white;
    padding: 30px;
}

#logo {
    position: absolute;
    height: 30px;
    width: 150px;
    left: 10px;
    top: 10px;
    margin: 10px;
}

#menu {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 5px;
    margin: 10px;
}

.main {
    position: relative;
    padding: 0;
}

h1 {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: white;
    font-size: 50px;
    left: 320px;
    top: 35%;
}

#center-button {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 187, 0);
    border: 5px solid rgb(255, 187, 0);
    background-color: yellow;
    border-radius: 25px;
    padding: 5px 50px;
    left: 520px;
    top: 50%;
}

#spices {
    max-width: 100%;
    margin: 0;
}

.container {
    background-color: grey;
    position: relative;
    height: 300px;
    margin: 0;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    display: inline-block;
    margin: 0;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    margin: 0;
}

.infosleftsidetop {
    text-align: left;
    position: absolute;
    left: 200px;
    bottom: 150px;
}

#cat {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.infosleftsidebottom {
    text-align: left;
    position: absolute;
    left: 200px;
    bottom: 50px;
}

#swim {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.infosrightsidetop {
    text-align: left;
    position: absolute;
    right: 300px;
    bottom: 150px;
}

#world {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.infosrightsidebottom {
    text-align: left;
    position: absolute;
    right: 300px;
    bottom: 50px;
}

#columns {
    height: 20px;
    width: 20px;
    display: inline-block;
}
