body {
    background-color: lavender;
}

#main-title {
    color: teal;
    transition: all 1s;
    margin-top: 50px;
}

.first-section div {
    border: 1px solid tomato;
}

.red {
    color: red;
    font-size: 24px;
}
