/*body {
    background-color: coral;
}*/

* {
    box-sizing: border-box;
}

.bigbox {
    height: 200px;
    width: 200px;
    background-color: #000000;
    border: 1px solid black;
    position: absolute;
}

.smallbox {
    height: 50px;
    width: 50px;
    background-color: coral;
    position: absolute;
}
